body{

    margin:0 ;
    display:flex ;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#keys {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}

#calculator{

    font-family: arial, sans-serif;
    background-color:rgba(37, 13, 13, 0.438) ;
    border-radius:15px ;
    max-width:400px ;
    overflow: hidden;
}

#calculator h1{

    color: orange;
}

#display{

    width:100% ;
    padding:20px ;
    font-size:5rem ;
    text-align:left ;
    border:none ;
    background-color: hsl(0, 0%, 20%);
    color: white;
}


button{

    height: 50px;
    width: 50px;
    border-radius:50px ;
    border: none;
    background-color:grey ;
    color:white ;
    font-size:3rem ;
    font-weight:bold ;
    cursor: pointer;

}

button:hover{

    background-color: hsl(0, 0%, 40%);
}

button:active{

    background-color: hsl(0, 0%, 50%);
}

.operator--btn{

    background-color: hsl(39, 100%, 55%);
}

.operator--btn:hover{

    background-color: hsl(35, 100%, 45%);
}

.operator--btn:active{

    background-color: hsl(35, 100%, 75%);
}



